
#title{
  background-color: #2d2c2c;
  color: white;
}


body {
  background-color: white;
  color: #2d2c2c;
  font-family: Arial, Helvetica, sans-serif;
}



#container {
  width: 100%;
  margin: 0 auto;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.item {
  box-sizing: border-box;
  flex-grow: 0;
  flex-basis: 100%;
}

h1{
  text-align: center;
  line-height: 1.5;
  font-stretch: ultra-condensed;
}

h2{
  text-align: center;
  line-height: 1.15;
  font-stretch: ultra-condensed;
}

p{
  text-align: center;
  line-height: 1.15;
  font-size: 1.1rem; 
}



select, option{
  padding: 0.5rem 2rem 0.5rem 0.75rem;
  line-height: 1.25;
  border-radius: 0.25rem;
  font-size: 0.85rem;
  cursor: pointer;
  font-weight: 700;
  text-overflow: ellipsis;
  background-color: #ebe9e7;
  color: #343232;

}


.content {
  /* Usage: always nest inside .item */
  background-color: rgb(251, 249, 249);
  flex-grow: 0;
  flex-basis: 100%;
  box-sizing: border-box;
  margin: 10px;
  padding: 4px;
  border-radius: 8px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);


}

.item.meta {
  padding: 5px;
}


.item.cell {
  flex-basis: 25%;
}

/* adjustments for medium screens, like some tablets or landscape on a mobile */
@media (min-width: 576px) {
  .item {
    flex-basis: 50%;
  }
}

/* adjustments for medium-large screens, like some tablets */
@media (min-width: 768px) {
  .item {
    flex-basis: 33.3333333333333%;
  }
}

/* adjustments for large screens, like laptops and desktops */
@media (min-width: 992px) {
  #container {
    width: 992px;
    margin: 0 auto;
  }

  .item {
    flex-basis: 25%;
  }
}


